/*nuevos seteos para estilos de fundation*/
.top-bar .toggle-topbar.menu-icon a{
	color:#CC9900;
}
.top-bar.expanded .title-area{
	background:#CC9900;
}
.top-bar .toggle-topbar.menu-icon a span {
    position: absolute;
    right: 0px;
    display: block;
    width: 16px;
    height: 0px;
    box-shadow: 0px 10px 0px 1px #CC9900,
    0px 16px 0px 1px #CC9900,
    0px 22px 0px 1px #CC9900;
}
.top-bar{
	height:46px;
	background:#fff;
	border-bottom:#000 solid thin;
	margin-bottom:5px;
}
.top-bar .name h1 a{
	color:#CC9900;
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size:40px;
}
.top-bar-section li a:not(.button){
	background:#fff;
	font-family: Georgia,serif;
	font-style:italic;
	color:#000;
	font-size:16px;
}
.top-bar-section li a:hover:not(.button){
	color:#fff;
	background:#CC9900;
}
.panel.callout a{
	color:#CC9900;
	font-size:14px;
}
.panel.callout,
.panel{
	border:#CC9900 solid thin;
	background:transparent;
}
button,
.button{
	background:#CC9900;
	font-family:Georgia,serif;
	font-weight:bold;
	font-style:italic;
}
button:hover,
.button:hover{
	background:#CC9900;
}
/**/
body{
	border-top:#CC9900 solid 2px;
	padding-top:5px;
}
header img{
	height:400px;
	width:100%;
	-webkit-filter: saturate(200%);
	-moz-filter: saturate(200%);
	filter: saturate(200%);
}
main{
	padding-top:20px;
}
section > h1,
.producto h1{
	font-size:1.8rem;
	font-weight:bold;
	font-family: 'Life Savers', cursive;
	color:#4878C9;
}
figure img{
	border:#BAEEFF 4px solid;
}
figure h2,
.lista_productos h2{
	font-size:1.2rem;
	font-weight:bold;
	margin-bottom:0;
	color:#DB0465;
}
ul{
	list-style:none;
}
img{
	width:100%;
}
small{
	font-size:80%;
}
footer{
	background:#F9EFEC;
	margin:30px 0;
	border-radius:5px;
	padding:20px 0 0;
	font-family:Georgia,serif;
	font-style:italic;
}
.lista li{
	color:#CC9900;
	margin:0 0 20px;
	list-style:disc;
}
.lista li:last-child{
	margin-bottom:0;
}
.producto span{
	font-weight:bold;
}
.contacto textarea{
	min-height:150px;
}
.contacto button[type="submit"]{
	float:right;
}
.lista_productos h2{
	margin-top:-5px;
}
.lista_productos img{
	margin-bottom:10px;
}
.lista_productos li{
	border-bottom:#CC9900 solid thin;
	padding:10px 0 0;
	display:inline-block;
}
p{
	font-family:Georgia,serif;
	color:#666;
}
.lista_productos li:last-child{
	border-bottom:transparent;
}
.lista_productos span,
.producto span{
	font-weight:bold;
	color:#4878C9;
	font-size:18px;
	font-family:sans-serif;
}
@media only screen and (min-width:64.063em){
	ul.promociones{
	    columns: 2;
	    -webkit-columns: 2;
	    -moz-columns: 2;
	}
}